.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  
  .main-content {
    margin-left: 220px;
    padding: 20px;
    text-align: center;
  }

  .prompt-page{
    margin-left: 220px;
    padding: 20px;
    text-align: center;
  }

  .temp{
    margin-left: 220px;
    padding: 20px;
    text-align: center;
  }

.sidebar_buttons {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sidebar_buttons:active,
.sidebar_buttons:hover {
  outline: 0;
}

.sidebar_buttons span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sidebar_buttons:hover span {
  background: none;
}

@media (min-width: 768px) {
  .sidebar_buttons {
    font-size: 24px;
    min-width: 196px;
  }
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }